<%= form_for :term, url: url, method: method do |f| %>
  <p>
    <%= f.label :term %><br>
    <%= f.text_field :term %>
  </p>

  <p>
    <%= f.label :definition %><br>
    <%= f.text_area :definition %>
    <div>Note: You can cross reference another term by prefixing with a # sign.
    If the other term is multi-word, you can use #{other term}.
    </div>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

